{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

  <div class="container mx-auto px-4 py-8">
    <h1 class="text-center text-xl font-bold mb-4">{% trans %}Les commentaires{% endtrans %}</h1>
    <section>
      {% for comment in comments %}
        <article class="bg-gray-100 p-8 rounded-xl mt-8">
          <h2 class="text-lg font-bold"># {{ comment.id }} - {% trans %}Ecrit par{% endtrans %} <span class="font-medium text-indigo-600">{{ comment.author }}</span></h2>
          <p>{{ comment.content | raw }}</p>
          <a href="{{ path("edit_comment", {'id': comment.id}) }}" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4 inline-block">{% trans %}Modifier le commentaire{% endtrans %}</a>
          <a href="{{ path("delete_comment", {'id': comment.id}) }}" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4 inline-block">{% trans %}Supprimer le commentaire{% endtrans %}</a>
        </article>
      {% endfor %}
    </section>
  </div>

{% endblock %}
