{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

  <div class="container mx-auto px-4 py-8">
    <section class="py-12">
      {% if app.user %}
        <a href="{{ path("show_articles") }}">{% trans %}Retour{% endtrans %}</a>
        <h2 class="text-md font-bold mb-2 text-center">{% trans %}Modifier un commentaire{% endtrans %}</h2>
        {{ form_start(form_comment) }}
        {{ form_row(form_comment.author, {'label':'Votre nom'|trans, 'attr': {'placeholder': 'Votre nom'|trans}}) }}
        {{ form_row(form_comment.email, {'label':'Votre email'|trans, 'attr': {'placeholder': 'Votre email'|trans}}) }}
        {{ form_row(form_comment.content, {'label':'Votre message'|trans, 'label':'Votre message', 'attr': {'placeholder': 'Votre commentaire'|trans}}) }}
        <button type="submit" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4">{% trans %}Valider{% endtrans %}</button>
        {{ form_end(form_comment) }}
      {% else %}
        <h2 class="text-lg font-bold"><a class="text-indigo-600" href="{{ path('security_login') }}">Connectez-vous </a>si vous souhaitez poster un commentaire !</h2>
      {% endif %}
    </section>
  </div>

{% endblock %}
