{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

  <div class="container mx-auto px-4 py-8">
    <h1 class="text-center text-xl font-bold mb-4">Mes articles</h1>
    {% if articles %}
    <section class="px-12 pb-12">
      {% for article in articles %}
        <article class="bg-gray-100 p-8 rounded-xl mt-8">
          <h2 class="text-lg font-bold">{{ article.title }}</h2>
          <p class="text-gray-500 text-sm">Ecrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i') }} - #{{ article.category.title }}</p>
          <img class="my-4" src="{{ article.image}}" alt="{{ article.title }}">
          <p>{{ article.content | raw }}</p>
          <a class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4 ml-auto inline-block" href="{{ path("edit_article", {'id': article.id})}}">Modifier l'article</a>
          <a class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4 ml-auto inline-block" href="{{ path("article_delete", {'id': article.id})}}">Supprimer l'article</a>
        </article>
      {% endfor %}
    </section>
    {% else %}
      <h2 class="text-lg font-bold mb-20">Vous n'avez pas d'article. <a class="text-indigo-600" href="{{ path("new_article") }}">Créer un article !</a></h2>
    {% endif %}
    <span class="block w-full bg-gray-300 h-0.5"></span>
    <h2 class="text-center text-xl font-bold mb-4 mt-8">Mes commentaires</h2>
    {% if comments %}
      {% for comment in comments %}
        <div class="pt-8 pb-2">
          <p class="text-gray-500 text-sm">Par {{ comment.author }}, le {{ comment.createdAt | date('d/m/y') }} à {{ comment.createdAt | date('H:i') }}</p>
          <p>{{ comment.content | raw }}</p>
        </div>
        <a class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4 ml-auto inline-block" href="{{ path("comment_update", {'id': comment.id})}}">Modifier le commentaire</a>
        <a class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4 ml-auto inline-block" href="{{ path("comment_delete", {'id': comment.id})}}">Supprimer le commentaire</a>
        <span class="block w-full bg-gray-300 h-0.5 mt-8"></span>
      {% endfor %}
    {% else %}
      <h2 class="text-lg font-bold">Vous n'avez pas écrit de commentaire...</h2>
    {% endif %}
  </div>

{% endblock %}
