{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

  <div class="container mx-auto px-4 py-8">
    <section class="py-12">
      {% if app.user %}
        <h2 class="text-md font-bold mb-2 text-center">Modifier un commentaire</h2>
        {{ form_start(form_comment) }}
        {{ form_row(form_comment.author, {'label':'Votre nom', 'attr': {'placeholder': 'Votre nom'}}) }}
        {{ form_row(form_comment.content, {'label':'Votre message', 'label':'Votre message', 'attr': {'placeholder': 'Votre commentaire'}}) }}
        <button type="submit" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4">Valider</button>
        {{ form_end(form_comment) }}
      {% else %}
        <h2 class="text-lg font-bold"><a class="text-indigo-600" href="{{ path('security_login') }}">Connectez-vous </a>si vous souhaitez poster un commentaire !</h2>
      {% endif %}
    </section>
  </div>

{% endblock %}
