{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

  <div class="container mx-auto px-4">
    {% if edit_mode %}
        <a href="{{ path("article_show", {'id': id}) }}">{% trans %}Retour{% endtrans %}</a>
    {% else %}
        <a href="{{ path("home") }}">{% trans %}Retour{% endtrans %}</a>
    {% endif %}

    {% if app.user %}
      <h1 class="text-center text-xl font-bold mb-4">{% if edit_mode %} {% trans %}Modifier un article{% endtrans %} {% else %} {% trans %}Créer l'article{% endtrans %} {% endif %}</h1>
      {{ form_start(form_article) }}

      {{ form_row(form_article.title, {'label':'Titre de l\'article'|trans, 'attr': {'placeholder': 'Titre de l\'article'|trans}}) }}
      {{ form_row(form_article.category, {'label':'Catégorie de l\'article'|trans}) }}
      {{ form_row(form_article.content, {'label':'Contenu de l\'article'|trans, 'attr': {'placeholder': 'Contenu de l\'article'|trans}}) }}
      {{ form_row(form_article.image, {'label':'Image de l\'article'|trans}) }}

      <button type="submit" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4">{% if edit_mode %} {% trans %}Modifier{% endtrans %} {% else %} {% trans %}Enregistrer{% endtrans %} {% endif %}</button>

      {{ form_end(form_article) }}
    {% endif %}
  </div>

{% endblock %}
