{% extends 'base.html.twig' %}

{% block title %}Blog | Créer un article{% endblock %}

{% form_theme form_article 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container mx-auto px-4">
	{% if app.user %}
		<h1 class="text-center text-xl font-bold mb-4">{% if edit_mode %} Modifier un article {% else %} Créer l'article {% endif %}</h1>
	    {{ form_start(form_article) }}

	    {{ form_row(form_article.title, {'label':'Titre de l\'article', 'attr': {'placeholder': 'Titre de l\'article'}}) }}
	    {{ form_row(form_article.category, {'label':'Catégorie de l\'article'}) }}
	    {{ form_row(form_article.content, {'label':'Contenu de l\'article', 'attr': {'placeholder': 'Contenu de l\'article'}}) }}
	    {{ form_row(form_article.image, {'label':'Image de l\'article'}) }}

	    <button type="submit" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4">{% if edit_mode %} Modifier {% else %} Enregistrer {% endif %}</button>

	    {{ form_end(form_article) }}
	{% endif %}
</div>

{% endblock %}
