{% extends 'base.html.twig' %}

{% block title %}Blog | Créer un article{% endblock %}

{% form_theme form_article 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container mx-auto px-4">
	{% if app.user %}
		<h1 class="text-xl font-bold mb-4">{% if edit_mode %} Modifier un article {% else %} Créer l'article {% endif %}</h1>
	    {{ form_start(form_article) }}

	    {{ form_row(form_article.title, {'attr': {'placeholder': 'Titre de l\'article'}}) }}
	    {{ form_row(form_article.category) }}
	    {{ form_row(form_article.content, {'attr': {'placeholder': 'Contenu de l\'article'}}) }}
	    {{ form_row(form_article.image, {'attr': {'placeholder': 'Image de l\'article'}}) }}

	    <button type="submit" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4">{% if edit_mode %} Modifier {% else %} Enregistrer {% endif %}</button>

	    {{ form_end(form_article) }}
	{% elseif not app.user and edit_mode %}
    	<h2 class="text-lg font-bold"><a class="text-indigo-600" href="{{ path('security_login') }}">Connectez-vous </a>si vous souhaitez modifier un article</h2>
	{% else %}
		<h2 class="text-lg font-bold"><a class="text-indigo-600" href="{{ path('security_login') }}">Connectez-vous </a>si vous souhaitez créer un article</h2>
    {% endif %}
</div>

{% endblock %}
