{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

  <div class="container mx-auto px-4 py-8">
    <a href="{{ path("show_categories") }}">{% trans %}Retour{% endtrans %}</a>
    <h1 class="text-center text-xl font-bold mb-4">{% if edit_mode %} {% trans %}Modifier une catégorie{% endtrans %} {% else %} {% trans %}Créer une catégorie{% endtrans %} {% endif %}</h1>
    <section class="py-12">
      {{ form_start(form_article) }}
      {{ form_row(form_article.title, {'label':'Titre'|trans, 'attr': {'placeholder': 'Titre'|trans}}) }}
      {{ form_row(form_article.description, {'label':'Description (facultatif)'|trans, 'attr': {'placeholder': 'Description'|trans}}) }}
      <button type="submit" class="px-4 py-2 border border-transparent rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 mt-4">{% trans %}Commenter{% endtrans %}</button>
      {{ form_end(form_article) }}
    </section>
  </div>

{% endblock %}
